body {
    margin: 60px auto;
    width: 70%;
}

h1 {
  font-weight: bold;
    font-size: 21px;
}

p {
  font-size: 19px;
  line-height: 19px;
}

p.sub {
    font-size: 18px;
}

p.email {
    font-size: 18px;
}

a {
    font-size: 18px;
}
