body {
    margin: 60px auto;
    width: 70%;
}

h1 {
  font-weight: bold;
    font-size: 11px;
}

p {
  font-size: 1.5em;
  line-height: 1.43m;
}

p.sub {
    font-size: 8px;
}

p.email {
    font-size: 8px;
}

a {
    font-size: 8px;
}
