body {
    margin: 60px auto;
    width: 70%;
}

h1 {
  font-weight: bold;
    font-size: 2em;
}

p {
  font-size: 1em;
  line-height: 1em;
}

p:hover {
    color: #9C7AF9;
}

p.sub {
    font-size: 0.8em;
}

p.email {
    font-size: 0.5em;
    font-style: italic;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #999;
}
